.about {
    position: relative;
}

.about__container {
    min-height: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    align-items: center;
    padding: 32px;
    margin-top: 32px;
}

.about__content {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.about__bg_left,
.about__bg_right {
    position: absolute;
    width: 64px;
    height: 64px;
}

.about__bg_left {
    left: -16px;
    top: 128px;
}

.about__bg_right {
    right: 0;
    bottom: 128px;
}

.about__title {
    color: #377d67;
}

.about__subtitle {
    font-size: 48px;
    line-height: 40px;
}
.about-paragraph {
    margin-top: 16px;
}

.about__image {
    width: 436px;
    height: 507px;
    margin-left: 48px;
}

.about__page__container {
    display: grid;
    min-height: 1vh;
}

.about__page__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px;
    align-items: center;
    justify-content: center;
    height: 176px;
    background-color: #f9f9fb;
}

.about__page__header__title {
    font-size: 48px;
    font-weight: 600;
    color: #377d67;
}
.about__page__header__description {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}

.about__page__story__container {
    padding: 32px;
    background-image: radial-gradient(#C8DCD5 1px, transparent 2px);
    background-size: 50px 50px;
}

.about__page__story__text {
    padding: 24px 64px;
    font-weight: 400;
    font-size: 16px;
}

.about__page__img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

@media screen and (max-width: 730px) {
    .about__container {
        display: flex;
        flex-direction: column;
        margin-top: 42px;
    }

    .about__page__container {
        text-align: center;
    }

    .about__title {
        font-size: 10px;
    }

    .about__subtitle {
        font-size: 16px;
        line-height: 1;
    }

    .about__image {
        width: 218px;
        height: 253.5px;
        margin-left: 0;
        margin-top: 24px;
    }
}
