.about {
    position: relative;
}

.about__container {
    min-height: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    align-items: center;
    padding: 32px;
    margin-top: 32px;
}

.about__content {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.about__bg_left,
.about__bg_right {
    position: absolute;
    width: 64px;
    height: 64px;
}

.about__bg_left {
    left: -16px;
    top: 128px;
}

.about__bg_right {
    right:0;
    bottom: 128px;
}

.about__title {
    color: #377d67;
}

.about__subtitle {
    font-size: 48px;
    line-height: 40px;
}
.about-paragraph {
    margin-top: 16px;
}

.about__image {
    width: 436px;
    height: 507px;
    margin-left: 48px;
}

@media screen and (max-width: 730px) {

    .about__container {
        display: flex;
        flex-direction: column;
    }
    
    .about__title {
      font-size: 10px;
    }

    .about__subtitle {
        font-size: 16px;
        line-height: 1;
    }

    .about__image {
        width: 218px;
        height: 253.5px;
        margin-left: 0;
        margin-top: 24px;
    }
 }
