.banner__image {
    position: relative;
    width: 100%;
    max-height: 488px;
    background-size: cover;
    background-position: center;
}

.banner__image__mobile {
    display: none;
}

.banner__paragraph {
    background-color: rgba(55, 125, 103, 0.3);
    font-weight: 600;
}

.banner__content {
    display: flex;
    margin-left: 128px;
    flex-direction: column;
    position: absolute;
    top: 128px;
    padding-top: 64px;
    max-width: 600px;
}

.banner-button {
    margin-bottom: 24px;
}

@media screen and (max-width: 730px) { 

    .banner__content {
        padding: 32px;
        margin-left: 0;
        margin-top: 56px;
    }

    .banner__image { 
        display: none;
    }


    .banner__image__mobile {
        display: block;
    }
}

