.cta {
    width: 100%;
    height: auto;
    background-color: #377d67;
    margin-top: 109px;
}

.cta__content {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 96px;
    color: #fff;
}

.cta__content span {
    margin-bottom: 16px;
    font-size: 14px;
}

.cta__content p {
    font-size: 24px;
    display: flex;
}

.cta-button {
    margin-top: 40px;
}

@media screen and (max-width: 730px) {
    .cta__content {
        padding: 32px;
    }

    .cta__content span {
        font-size: 12px;
    }

    .cta__content p {
        font-size: 16px;
    }

    .cta {
        height: auto;
        margin-top: 64px;
    }
    

}