html {
    scroll-behavior: smooth;
}

body {
    font-family:
        "Poppins",
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
    font-size: 12px;
}

.title {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
    color: #23282d;
}

.subtitle {
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
    color: #050d0f;
}

.paragraph {
    font-size: 16px;
    color: #050d0f;
}

.standard-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 52px;
    background-color: #377d67;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.standard-button:hover {
    background-color: #4cae89;
}

.white-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 52px;
    background-color: #fff;
    color: #39364e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.white-button:hover {
    background-color: #4b6fad;
    color: #fff;
}

.blue-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 52px;
    background-color: #4b6fad;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.blue-button:hover {
    background-color: #265df2;
}

.divider {
    width: calc(100% - 64px);
    position: relative;
    height: 1px;
    background-color: #ccc;
  }

@media screen and (max-width: 730px) {
    .title {
        margin-bottom: 12px;
    }

    .subtitle {
        font-size: 24px;
    }

    .paragraph {
        font-size: 10px;
    }

    .standard-button,
    .white-button,
    .blue-button {
        display: block;
        width: 100%;
    }
}
