.header__top-bar {
    background-color: #489681;
    height: 24PX;
    width: 100%;
}

.header__menu {
    display: flex;
    padding-right: 24px;
    padding-left: 24px;
}

.logotipo {
    width: 204px;
    margin: 0;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: 200px;
}

/* Estilos para a navegação central */
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #23282d;
}

.nav-links li :hover {
    color: #489681;
    font-weight: bold;
}

.nav-links li:first-child a {
    text-decoration: none;
    color: #489681;
    font-weight: bold;
    text-decoration: underline;
  }

.header-button {
    position: absolute;
    right: 24px;
    top: 32px;
}