.top-bar {
    background-color: #489681;
    height: 32px;
    width: 100%;
}

.container {
    display: flex;
    padding: 24px;
}

.logotipo {
    width: 204px;
    margin: 0;
}

.social-media {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: 200px;
}

/* Estilos para a navegação central */
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #23282d;
}

.nav-links :hover {
    color: #489681;
}

.contact-button {
    display: flex;
    align-items: center;
    position: absolute;
    right: 82px;
    top: 64px;
    border: 2px solid #377d67;
    width: 150px;
    height: 50px;
    justify-content: center;
}

.contact-button :hover {
    background-color: #489681;
    color: #23282d;
}
