.service__page {
    background-color: #f9f9fb;
}

.service__page__container {
    display: grid;
    min-height: 1vh;
}

.service__page__container__cards {
    display: flex;
    flex-wrap: wrap;
}

.service__page__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px;
    align-items: center;
    justify-content: center;
    height: 176px;
    background-color: #f9f9fb;
}

.service__page__header__title {
    font-size: 48px;
    font-weight: 600;
    color: #377d67;
}
.service__page__header__description {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}

.service__page__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-bottom: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    border-radius: 40px;
    background-color: #ffffff;
}

.card__content {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img {
    margin-top: 8px;
    max-width: calc(300px - 32px);
    border-radius: 40px;
    min-height: 186px;
}

.card span,
h3 {
    padding: 16px;
}

.card span {
    color: rgba(0, 0, 0, 0.5);
}

.card h3 {
    font-size: 16px;
}

/* MOBILE VERSION */

@media screen and (max-width: 730px) {
    .service__page__container {
        text-align: center;
    }

    .service__page__header__title {
        line-height: 42px;
        margin-bottom: 8PX;
    }

       .service__page__header__description {
        margin-bottom: 16px;
       }
}
